<%- include("./partials/header.ejs") %>
<div class="mainContainer">
  <!-- <ul class="notesul">
    <div class="list-container">
      <li class="list"></li>
      <li class="list"><%= showNote.description %></li>
      <li class="list"><%= showNote.img %></li>
    </div>
  </ul> -->
  <div class="card text-center">
    <!-- -------------------- Note Name -------------------- -->
    <div class="card-header" style="background-color: <%=showNote.color%>">
      <button class="btn btn-success"><%= showNote.name %></button>
      <!-- --------------- Delete Button ----------------- -->
      <form action="/notes/<%= showNote.id %>?_method=DELETE" method="POST">
        <input class="btn deleteBtn btn-danger" type="submit" value="X" />
      </form>
    </div>
    <div class="card-body">
      <!-- -------------------- Title -------------------- -->
      <h3 class="card-title"><%= showNote.title %></h3>
      <!-- -------------------- Description-------------------- -->
      <p class="card-text"><%= showNote.description %></p>
      <!-- -------------------- image-------------------- -->
      <img src="<%= showNote.img%> " alt="Image" />
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</div>
