<%- include("./partials/header.ejs") %>
<div class="container">
  <ul class="notesul">
    <div class="list-container">
      <li class="list"><%= showNote.title %></li>
      <li class="list"><%= showNote.description %></li>
      <li class="list"><%= showNote.img %></li>
    </div>
  </ul>
</div>
<%- include('./partials/footer.ejs') %>
