<%- include("./partials/header.ejs") %>
<div class="mainContainer">
  <!-- <ul class="notesul">
    <div class="list-container">
      <li class="list"></li>
      <li class="list"><%= showNote.description %></li>
      <li class="list"><%= showNote.img %></li>
    </div>
  </ul> -->
  <div class="card text-center">
    <!-- -------------------- Note Name -------------------- -->
    <div class="card-header"><%= showNote.name %></div>
    <div class="card-body">
      <!-- -------------------- Title -------------------- -->
      <h5 class="card-title"><%= showNote.title %></h5>
      <!-- -------------------- Description-------------------- -->
      <p class="card-text"><%= showNote.description %></p>
      <!-- -------------------- Button -------------------- -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
      <!-- -------------------- Footer -------------------- -->
      <!-- <div class="card-footer text-muted">2 days ago</div> -->
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</div>
